<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ntut.mobile.ezscrum.view"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>    
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon" 
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true" >
        <activity
            android:name="ntut.mobile.ezscrum.view.projectlist.ProjectListViewActivity"
            android:label="@string/app_name"
            android:hardwareAccelerated="false" >
        </activity>
        <activity
            android:name="ntut.mobile.ezscrum.view.FeatureViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ntut.mobile.ezscrum.view.productbacklog.ProductBacklogGridViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ntut.mobile.ezscrum.view.productbacklog.ProductBacklogListViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ntut.mobile.ezscrum.view.sprintbacklog.SprintBacklogListViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ntut.mobile.ezscrum.view.sprintplan.SprintPlanListViewActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- android:name=".TestCreateStoryActivity" -->
        <!-- android:name=".TestReadAllStoryActivity" -->
        <!-- android:name=".ProjectListViewActivity" -->
        <activity
            android:name="ntut.mobile.ezscrum.view.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="ntut.mobile.ezscrum.view.sprintbacklog.SprintBacklogExistedTaskActivity"
            android:label="@string/add_existed_task" >
        </activity>
        <activity
            android:name="ntut.mobile.ezscrum.view.StartupActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>